.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (min-width: 1024px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 1024px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.rootdirection_horizontal {
  display: flex;
  flex-direction: row;
}
.rootdirection_horizontal > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootdirection_horizontal > :global(.__wab_flex-container) > *,
.rootdirection_horizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootdirection_horizontal > :global(.__wab_flex-container) > picture > img,
.rootdirection_horizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootjustify_between > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.rootjustify_start > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
}
.rootjustify_end > :global(.__wab_flex-container) {
  justify-content: flex-end;
  align-items: center;
}
.rootauto {
  width: auto;
  display: inline-flex;
}
.rootbackgroud_mobileCard {
  background: #0d0d0d;
}
.rootborderRadius__4 {
  border-radius: 4px;
}
.rootborderRadius__8 {
  border-radius: 8px;
}
.rootmargin__5 {
  margin: 5px;
}
.rootmargin__10 {
  max-width: 295px;
  width: 100%;
  min-width: 0;
  margin: 10px;
}
.rootmargin__10 > :global(.__wab_flex-container) {
  min-width: 0;
}
.rootmb__5 {
  margin-bottom: 5px;
}
.rootpadding__0 {
  padding: 20px;
}
.rootmb__10 {
  margin-bottom: 10px;
}
.rootmb__15 {
  margin-bottom: 15px;
}
.rootmb__20 {
  margin-bottom: 20px;
}
.rootmb__25 {
  margin-bottom: 25px;
}
.rootmb__30 {
  margin-bottom: 30px;
}
.rootpadding__10 {
  padding: 10px;
}
.rootpadding__15 {
  padding: 15px;
}
.rootgap__5 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.rootgap__5 > :global(.__wab_flex-container) > *,
.rootgap__5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootgap__5 > :global(.__wab_flex-container) > picture > img,
.rootgap__5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 5px;
}
.rootgap__10 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.rootgap__10 > :global(.__wab_flex-container) > *,
.rootgap__10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootgap__10 > :global(.__wab_flex-container) > picture > img,
.rootgap__10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.rootgap__15 > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.rootgap__15 > :global(.__wab_flex-container) > *,
.rootgap__15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootgap__15 > :global(.__wab_flex-container) > picture > img,
.rootgap__15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 15px;
}
.rootalign_start > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: flex-start;
}
.rootalign_end > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: flex-end;
}
