.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  background: var(--token-MfCyf2DBW);
  border-radius: 30px;
}
.rootcolors_gradient {
  background: linear-gradient(271deg, #ff6639 0%, #7e25b5 100%) 0% 0% / 100%
    100% repeat;
}
.rootcolors_gray {
  background: #51546080;
}
.rootsize_unnamedVariant {
  width: 55px;
  height: 55px;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}
.textcolors_gray {
  color: #000000;
}
