.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: stretch;
  background: #161616;
  min-width: 0;
  border-radius: 12px;
}
.columns__nAmFt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1039px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns__nAmFt > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nAmFt > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nAmFt > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nAmFt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nAmFt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uO02L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.columnSorter__gZsMk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__biMdD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.columnSorter__ncv0P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__lNdFk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.columnSorter__fw433:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__mTxVu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  background: #000000;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.columns__mTxVu > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns__mTxVu > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 10px) * 4 / 12);
}
.columns__mTxVu > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 10px) * 4 / 12);
}
.columns__mTxVu > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 10px) * 4 / 12);
}
.columns__mTxVu > :global(.__wab_flex-container) > *,
.columns__mTxVu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mTxVu > :global(.__wab_flex-container) > picture > img,
.columns__mTxVu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mTxVu {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mTxVu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mTxVu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 10px) * 12 / 12);
  }
}
.column__qkqb2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #292929;
}
.nftOverview:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.column__y6CFc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #292929;
}
.nftProgress:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.column__gokb1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.nftAvailableClaim:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
