.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #dddddd2e;
  border-radius: 8px;
  padding: 5px 10px;
}
.rootcolors_cyan {
  background: #73fff71a;
}
.rootcolors_yellow {
  background: #ffce511a;
}
.rootcolors_red {
  background: #fea4831a;
}
.rootdisabled {
  background: #686a6e1a;
  cursor: not-allowed;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.freeBoxcolors_yellow {
  margin-right: 0px;
}
.slotTargetChildren {
  color: #ffffff;
}
.slotTargetChildrencolors_cyan {
  color: #73fff7;
}
.slotTargetChildrencolors_yellow {
  color: #ffce51;
}
.slotTargetChildrencolors_red {
  color: #fea483;
}
.slotTargetChildrendisabled {
  color: #686a6e;
}
