.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: var(--token-MfCyf2DBW);
  border-radius: 30px;
}
.rootcolors_gradient {
  background: linear-gradient(271deg, #ff6639 0%, #7e25b5 100%) 0% 0% / 100%
    100% repeat;
}
.rootcolors_gray {
  background: #51546080;
}
.rootdistribution {
  background: #c74a2633;
  height: 17px;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-flex;
}
.slotTargetChildren > *,
.slotTargetChildren > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > *,
.slotTargetChildren > picture > img,
.slotTargetChildren > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > picture > img,
.slotTargetChildren > .__wab_slot > .__wab_slot > .__wab_slot > picture > img {
  transition-property: all, all;
  transition-duration: 1s, 1s;
}
.slotTargetChildrendistribution {
  text-align: center;
  line-height: 0;
}
