.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #dddddd1a;
  border-radius: 8px;
  padding: 5px 10px;
}
.rootcolors_purple {
  background: #8c56dc80;
}
.rootcolors_cyan {
  background: #73fff71a;
}
.rootcolors_green {
  background: #09c78180;
}
.rootcolors_yellow {
  background: #ffce511a;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.freeBoxcolors_yellow {
  margin-right: 0px;
}
.slotTargetChildren {
  color: #ffffff;
}
.slotTargetChildrencolors_purple {
  color: #8c56dc;
}
.slotTargetChildrencolors_cyan {
  color: #73fff7;
}
.slotTargetChildrencolors_green {
  color: #09c781;
}
.slotTargetChildrencolors_yellow {
  color: #ffce51;
}
