.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 1024px) {
  .freeBox {
    max-width: 1488px;
    padding: 0px;
  }
}
.freeBoxmb__110 {
  margin-bottom: 110px;
}
