.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: auto;
  max-width: none;
}
.freeBox___4Jz6K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
}
.slotTargetChildren {
  color: #ffffff;
}
.slotTargetChildrenweight_medium {
  font-weight: 500;
}
.slotTargetChildrensize__18 {
  font-size: 18px;
}
.slotTargetChildrencolors_gray {
  color: #7b7b7b;
}
.slotTargetChildrencolors_red {
  color: var(--token-MfCyf2DBW);
}
.slotTargetChildrenopacity__10 {
  color: #ffffff1a;
}
.slotTargetChildrentitle__1 {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--token-t77KRyK74);
}
.slotTargetChildrentitle__2 {
  font-size: 18px;
  font-family: var(--token-t77KRyK74);
  font-weight: 600;
}
.slotTargetChildrenweight_semiBold {
  font-weight: 600;
  color: #ffffff;
}
.slotTargetChildrensize__10 {
  font-size: 10px;
}
.slotTargetChildrensize__11 {
  font-size: 11px;
}
.slotTargetChildrensize__12 {
  font-size: 12px;
}
.slotTargetChildrensize__14 {
  font-size: 14px;
}
.slotTargetChildrensize__24 {
  font-size: 24px;
}
.slotTargetChildrensize__28 {
  font-size: 28px;
}
.freeBox__lzUj9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.icon__aKwMs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  display: none;
}
.h1 {
  position: relative;
  flex-direction: row;
  display: none;
}
.text___3Uobo {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: normal;
}
.icon__n7Fvr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 27px;
  margin-right: 7px;
  flex-shrink: 0;
  display: none;
}
.text__rvdAi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: none;
}
