.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
.button__nvW0P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 10px;
}
.button__e1CXg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
