body {
  background-color: #000000;
  margin: 0;
}

@font-face {
  font-family: 'EurofontExtendedC';
  src: url('assets/fonts/eurofontextendedc_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
